body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #e9c2e7;
  color: #333;
  text-align: center;
  padding: 20px;
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #b43b9a;
  text-transform: uppercase;
}

#message {
  font-size: 18px;
  margin: 20px 0;
}

input {
  font-size: 16px;
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #3498db;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5829a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#attempts {
  font-size: 18px;
  margin: 10px 0;
}

.result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}


.success {
  color: #27ae60; 
}

.game-over {
  color: #e74c3c; 
}


@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}